body{
  background:rgb(1, 15, 37);
}

h1 {
  text-align: center;
  font-size: 5rem;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
}

.box-emogi {
  font-size: 40px;
  text-align: center;
  padding-bottom:30px;
}

.box-input{
  text-align: center;
}

input {
  width: 400px;
  padding: 15px;
  font-size: 25px;
  background: rgb(255, 255, 255);
  border: none;

}

button {
  text-transform: capitalize;
  text-align: center;
  padding: 15px;
  font-size: 20px;
  margin: 20px;
  color: rgb(255, 255, 255);
  background: rgb(248, 0, 0);
  border: none;
  border-radius: 10px;
}

button:hover {
  background: rgb(24, 197, 8);
}

/* estilos score - life */

.box-accountant{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 40px;
  color: #fff;
  padding:60px;
}

.box-accountant p::first-letter{
  text-transform: capitalize;
}

.score {
  color: rgb(21, 250, 0);
  font-size: 50px;
}

.life {
  color: rgb(255, 0, 0);
  font-size: 50px;
}

